:root {
    --borderi : 4px solid black;
    --widthi : 30rem;
    --heighti : 50rem;
    --formmarg : .5rem 0 1rem 0;
    --fontsized : 1.25rem;
    --weighted : bolder;
}
.intro {
    margin-bottom: 2rem;
}
.name, .email, .password,.username,.passconf {
    width: 20rem;
    margin: var(--formmarg);
    font-size: var(--fontsized);
}
.form {
    text-align: center;
    padding: 0rem 8rem 4rem 8rem;
    margin-top: 1rem;
}
.img1, .img2 {
    border: var(--borderi);
    width: var(--widthi);
    height: var(--heighti);
}
.img3 {
    border: 4px solid black;
    width: 15rem;
    height: 10rem;
    margin-bottom: 1rem;
}
.flex {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}
.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
}
.font {
    font-size:var(--fontsized);
    font-weight:var(--weighted) ;
}